.footer__author {
  color: #545454;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
}



@media (max-width: 570px) {
  .footer__author {
    font-size: 14px;
    line-height: 1.2;
  }
}