.places__card-like {
  background-image: url(../../../images/like.svg);
  background-size: cover;
  width: 20px;
  height: 18px;
}

.places__card-like:active {
  background-image: url(../../../images/like-active.svg);
}